<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div th:replace="~{header}">
    <h1> THIS IS A DEFAULT HEADER</h1>
</div>
<ul>
    <li th:each="card : ${cardList}">
        <div>
            <img th:src="${card.image}" alt="">
            <h3 th:utext="${card.name}">...</h3>
            <h5 th:text="'description:  '+${card.description}">...</h5>
            <h5 th:text="'affinity:  '+${card.affinity}">...</h5>
            <h5 th:text="'HP:  '+${card.hp}">...</h5>
            <h5 th:text="'energy:  '+${card.energy}">...</h5>
            <h5 th:text="'attack:  '+${card.attack}">...</h5>
            <h5 th:text="'defence:  '+${card.defence}">...</h5>
        </div>
    <li>
</ul>
</body>
</html>
